  <div class="search-container search-box">
    <form action="/search" accept-charset="UTF-8" >
    <input name="utf8" type="hidden" value="✓">
    <label style="font-size: 11px" for="_search_Search for">Search for</label>
    <input type="text" name="q" id="search" class="search-input" required="required">
    <input type="submit" value="Go" style="border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;width: 55px;" data-disable-with="Go">
</form>
</div>
