
 <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Authors Haven</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">

<%= link_to 'Patient Record', articles_path(@article) %>
        <a class="nav-link" href="#">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>

<div class="container">
<div class="banner row">
<div class="d-flex align-items-center col"
><div class="index-banner"><h1 class="w-80">Share Your Thoughts With The World</h1><p class="banner-p">There is no limit to what you can achieve with a pen.. Write, the world is ready to read.</p><button class="index-button sc-htpNat eebTik">Get Started</button></div></div><div class="d-none d-sm-block col"><%= inline_svg('bannerImage.svg')%></div></div></div>

<section class="container-fluid reviews"><div class="justify-content-center row"><div class="col-lg-8 col-md-10"><h2 class="text-center">A community of like-minded authors fostering inspiration and innovation by leveraging the modern web.</h2></div></div><div class="text-center row"><div class="col"><p>Author’s haven indeed lives up to its name.
          It has been a source of succor and comfort to me.
          In here I have found individuals of like mind as I and
          I have also gained inspiration and motivation.
          The author’s haven team are also very efficient, professional 
          and prompt with their responses.</p><div class="quotes"></div><p class="reviews-name">Tiku Okoye</p><p>California</p></div><div class="col"><p>Author’s haven indeed lives up to its name.
          It has been a source of succor and comfort to me.
          In here I have found individuals of like mind as I and
          I have also gained inspiration and motivation.
          The author’s haven team are also very efficient, professional 
          and prompt with their responses.</p><div class="quotes"></div><p class="reviews-name">Dozie Nwoga</p><p>Anambra</p></div><div class="col"><p>Author’s haven indeed lives up to its name.
          It has been a source of succor and comfort to me.
          In here I have found individuals of like mind as I and
          I have also gained inspiration and motivation.
          The author’s haven team are also very efficient, professional 
          and prompt with their responses.</p><div class="quotes"></div><p class="reviews-name">Ozone Ezenwa</p><p>Hawaii</p></div></div></section>
          <div class="card-deck">
  
  <div class="personalised-container ">
  <div class="article-list">
  <h1 class="card-title-size">Featured  articles</h1>
  <div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  </div>
</div>
</div>
