<div class = 'postArticle '>

    <div class="title-section">
      <h1><%= @article.title%></h1>
        <div class="article-info">
                  <p clas="author">
                    written by
                  </p>
              </div>
              <p class="date-created"><%= local_time(@article.created_at, '%B %e, %Y')%></p>
              <p class="time-to-read"></p>
            </div>

        <div class="article-image">
         <%= image_tag  @article.image_url.to_s, class: "image-display" %>
</div>
            <div class="article-body"><%= sanitize @article.article_body %>
            </div>
            <section class="comment-section">
              <div class="container pt-5 pb-5">
                <h2>Comments</h2>
              </div>
            </section>
</div>
</div>
