

<div id="learner-modal-dialog">
  <div class="learners-rating-modal-content">
    <div class="preview-button">
        <span id="preview-close"><span><i class="fa fa-angle-down"></i></span></span>
    </div>
    <div class="learner-performance-header">
      <div>Delete a user</div>
    </div>
    <div class="group-1">
      <p class="confirm-text">This action will delete this user. Are you sure you want to continue?</p>
    </div>
      </div>
         <div class ="confirm-modal-bottom">
      <div class="confirm-btn-wrapper">
        <a class="btn-cancel cancel-btn close-handle-edit-survey">Cancel</a>
        <input class='btn-submit submit-edit-modal' id="confirm-handle-edit-survey" type="submit" value="Continue" />
      </div>
    </div>
    </div>
  </div>
</div>
