<div class="modal-field-delete" style="display: none">

  <div class='micropost-modal-content modal-content-delete'>
  <div class='micropost-title'>
  <div class='delete-discription'></div>
  <span class="micropost-delete-close">&times;</span>
  </div>
    <div class='delete-discription'>
    <p>Are you sure you want to delete this post</p>
    </div>
    <div class='micropost-align-btn'>
    <button class="btn btn-primary micropost-btn-cancel">Cancel</button>
    <button class="btn btn-primary micropost-btn-delete">Delete</button>
    </div>
  </div>
</div>
