<div class="modal-field" style="display: none">

  <div class='micropost-modal-content'>
  <div class='micropost-title'>
  <div>Post your thought here</div>
  <span class="micropost-close">&times;</span>
  </div>
    <textarea placeholder = "Compose new micropost..." rows="10" cols="50" class="micropost-body"></textarea>
    <button class="btn btn-primary micropost-btn">Post</button>
  </div>
</div>
