.microposts-dialog{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    .count{
      text-align: center
    }
}

.microposts {
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    -webkit-box-shadow: 10px 4px 0px -34px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 4px 0px -34px rgba(0,0,0,0.75);
    box-shadow: 10px 4px 0px -34px rgba(0,0,0,0.75);
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.micropost-stamp {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;

}
.micropost-stamp a:hover {
  text-decoration: none;
}

.delete-micropost {
  background-color: tomato;
  cursor: pointer;
}
.delete-micropost p {
  color: #ffffff !important;
  padding: 5px;
}

.micropost-btn-cancel,.micropost-btn-delete {
  width: 20%
}

.delete-discription {
  text-align: center;
}

.modal-content-delete {
  width: 40% !important;
}

.micropost-delete-close{
  cursor: pointer;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}