// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#learner-modal-dialog {
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  
  overflow: auto;

  #preview-close {
    float: right;
    cursor: pointer;
    min-width: (20px);
    min-height: (20px);
    background: url('close.svg') no-repeat
  }
  .learners-rating-modal-content {
    font-family: DINPro-Light;
    overflow: visible;
    text-align: center;
    border-radius: (8px);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: (20px);
    padding-bottom: (102px);
    pointer-events: auto;
    background-clip: padding-box;
  }

  .learner-performance-header {
    color: #3359db;
    font-size: (20px);
    font-weight: 500;
    line-height: (26px);
    padding: (29px);
  }
  .learner-rectangle {
    box-sizing: border-box;
    height: (97px);
    width: 80%;
    border: (1px) solid rgba(178, 187, 198, 0.31);
    border-radius: (15px);
    background-color: #ffffff;
    box-shadow: 0 (4px) (9px) 0 rgba(0, 0, 0, 0.05);
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .oval img {
    height: (44px);
    width: (44px);
    border-radius: 50%;
  }
  .learner-name {
    height: (21px);
    width: (110px);
    color: #333e44;
    font-size: (16px);
    font-weight: bolder;
    line-height: (21px);
  }
  .learner-details {
    margin-left: (15px);
    text-align: justify;
  }

  .learner-email {
    height: (18px);
    width: (136px);
    color: #333e44;
    font-size: (14px);
    line-height: (18px);
  }
  .view-score-breakdown {
    color: #3359db;
    cursor: pointer;
    font-size: (14px);
    font-weight: 500;
    line-height: (18px);
    text-align: center;
  }
  .fa-angle-down {
    color: #3359db;
    margin-left: (6px);
  }
  .learner-dropdown {
    vertical-align: middle;
    display: flex;
    margin-top: (30px);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
  }
  .line-1 {
    box-sizing: border-box;
    height: 2px;
    margin: (11px) (5px) (5px) (9px);
    width: (196px);
    border: (1px) solid #e7eaed;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .line-2 {
    box-sizing: border-box;
    height: (2px);
    margin: (11px) (1px) (5px) (9px);
    width: (180px);
    border: 1px solid #e7eaed;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .group-2 {
    margin-top: (30px);
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding-left: 30px;
    margin-right: 8%;
    margin-left: 8%;
  }
  .group-3 {
    margin-top: (10px);
    margin-bottom: (20px);
    display: flex;
    width: 100%;
  }
  .ui-ux {
    height: (36px);
    width: (28px);
    padding-left: (40px);
    color: #333e44;
    font-size: (14px);
    line-height: (18px);
  }
  .ui-ui-rating {
    font-weight: bolder;
    padding-top: (20px);
    font-size: (27px);
  }
  div.lfa-modal-dialog {
    display: none;
  }
  .group-2 ul,
  .group-3 ul {
    list-style: none;
  }
  .group-3 ul {
    margin: (0px);
    padding-right: unset !important;
    width: 10%;
    flex:1;
  }
  .lfa-rating,.lfa-rating-1, .lfa-rating-2, .lfa-rating-3, .lfa-rating-4, .lfa-rating-5  {
    margin: 11px (6px);
  }
  .lfa-rating-1 {
    margin: (11px) (6px);
    padding-left: (40px);
    padding-right: (20px);
  }
  .lfa-rating-2 {
    margin: (11px) (6px);
    padding-left: (20px);
    padding-right: (20px);
  }
  .lfa-rating-3 {
    margin: (11px) (6px);
    padding-left: (60px);
    padding-right: (20px);
  }
  .lfa-rating-4 {
    margin: (11px) (6px);
    padding-left: (60px);
    padding-right: (20px);
  }
  .lfa-rating-5 {
    margin: (11px) (6px);
    padding-left: (70px);
    padding-right: (20px);
  }
  .lfa-modal-dialog {
    max-width: 100%;
    border-radius: (8px);
    display: flex;
    background-color: #ffffff;
  }
  .group-3-rating {
    padding: unset !important;
  }
  .lfa-modal-dialog-field {
    flex: 10;
  }
  .fa-modal-dialog-field-space {
    flex: 1;
  }
  .group-2-learners-rating, .group-2-learners-score {
    display: flex
  }
}

// @media screen and (max-width: 1350px) {
//   .lfa-rating-1 {
//     margin: (11px) (6px);
//   }
//   .lfa-rating-2 {
//     margin: (11px) (6px);
//   }
//   .lfa-rating-3 {
//     margin: (11px) (6px);
//   }
//   .lfa-rating-4 {
//     margin: (11px) (6px);
//   }
//   .lfa-rating-5 {
//     margin: (11px) (6px);
//   }
// }

// @media screen and (max-width: 1200px) {
//   #learner-modal-dialog {
//     margin: auto;
//     .lfa-rating-1 {
//       margin: (11px) (6px);
//       padding-left: (56px) !important;
//       padding-right: (20px)!important;
//     }
//     .lfa-rating-2 {
//       margin: (11px) (6px);
//       padding-left: (30px) !important;
//       padding-right: (20px) !important;
//     }
//     .lfa-rating-3 {
//       margin: (11px) (6px);
//       padding-left: (48px) !important;
//       padding-right: (32px) !important;
//     }
//     .lfa-rating-4 {
//       margin: (11px) (6px);
//       padding-left: (48px) !important;
//       padding-right: (48px) !important;
//     }
//     .lfa-rating-5 {
//       margin: (11px) (6px);
//       padding-left: (48px) !important;
//       padding-right: (36.8px) !important;
//     }
//   }
// }

// @media screen and (max-width: 800px) {
//   #learner-modal-dialog {
//     margin: auto;

//     .learners-rating-modal-content {
//       overflow: visible;
//       text-align: center;
//       border-radius: (8px);
//       display: flex;
//       flex-direction: column;
//       pointer-events: auto;
//       background-color: #fff;
//       background-clip: padding-box;
//     }
//     .group-3 {
//       margin-top: (10px);
//       margin-bottom: (20px);
//       display: flex;
//       padding-left: unset;
//       width: 100%;
//     }
//     .lfa-rating-1 {
//       margin: (11px) (6px);
//       padding-left: 2.5rem !important;
//     }
//     .lfa-rating-2 {
//       margin: (11px) (6px);
//       padding-left: (14.4px)!important;
//       padding-right: (20px) !important;
//     }
//     .lfa-rating-3 {
//       margin: (11px) (6px);
//       padding-left: (28.8px) !important;
//       padding-right: (40px) !important;
//     }
//     .lfa-rating-4 {
//       margin: (11px) (6px);
//       padding-left: (20.8px) !important;
//       padding-right: (24px) !important;
//     }
//     .lfa-rating-5 {
//       margin: (11px) (6px);
//       padding-left: (32px) !important;
//       padding-right: (20px) !important;
//     }
//     .view-score-breakdown {
//       font-size: (10px);
//       font-weight: 200;
//       line-height: (18px);
//     }
//   }
// }

// @media screen and (max-width: 660px) {
//   #learner-modal-dialog {
//     margin: auto;
//     .ui-ux {
//       margin-bottom: (10px) !important;
//     }
//     .lfa-modal-dialog-field {
//       flex: 10;
//       margin-right: (20px);
//       padding-right: (40px);
//     }
//     .learners-rating-modal-content {
//       overflow: visible;
//       text-align: center;
//       border-radius: (8px);
//       background-color: #ffffff;
//       display: flex;
//       flex-direction: column;
//       pointer-events: auto;
//       background-color: #fff;
//       background-clip: padding-box;
//     }

//     .view-score-breakdown {
//       color: #3359db;
//       font-size: (10px);
//       font-weight: 500;
//       line-height: (18px);
//       text-align: center;
//     }
//     .fa-angle-down {
//       color: #3359db;
//       margin-left: (6px);
//     }
//     .learner-dropdown {
//       vertical-align: middle;
//       display: flex;
//       margin-top: (30px);
//       width: 80%;
//       margin-left: 10%;
//       margin-right: 10%;
//       justify-content: center;
//     }

//     .group-2 {
//       margin-top: (50px);
//       display: flex;
//       flex-direction: column;
//       justify-content: space-evenly;
//       width: 80%;
//       margin-right: unset;
//       padding-left: unset;
//     }
//     .group-3 {
//       margin-top: (10px);
//       margin-bottom: (20px);
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       padding-left: unset;
//       width: 100%;
//     }
//     .learner-modal-skills {
//       height: (36px);
//       width: (89px);
//       color: #333e44;
//       font-size: (14px);
//       line-height: (18px);
//       text-align: center;
//     }
//     .group-3 ul li:first-child:before {
//       color: #6c7a89;
//       content: attr(data-label);
//       width: 100%;
//       white-space: nowrap;
//     }

//     .presentation-skills,
//     .api-functionality,
//     .error-handling,
//     .project-understanding,
//     .ui-ux {
//       height: unset;
//       width: unset;
//     }

//     .group-2 ul {
//       padding-left: unset;
//     }

//     .group-3 ul {
//       margin: (0px) !important;
//       padding-right: unset !important;
//       text-align: center;
//       width: 100%;
//       padding-left: unset;
//     }
//     .lfa-rating {
//       margin: (11px) (6px);
//       padding-left: 40px;
//       padding-right: 20px;
//     }

//     .lfa-rating-5,
//     .lfa-rating-4,
//     .lfa-rating-3,
//     .lfa-rating-2,
//     .lfa-rating-1 {
//       margin: (11px) (6px);
//       padding: unset !important;
//       text-align: center !important;
//     }
//     .line-1, .line-2{
//       width: 15%
//     }

//     .flex-table {
//       flex-direction: column;
//   }
//   .rating-flex{
//     margin-left: (30px)
//   }
//   }
// }

// @media screen and (max-width: 430px) {
//   #learner-modal-dialog {
//     margin: auto;
//     .ui-ux {
//       margin-bottom: (10px) !important;
//     }
//     .lfa-modal-dialog-field {
//       flex: 10;
//       margin-right: (30px);
//       padding-right: (30px);
//     }
//     .learners-rating-modal-content {
//       background-color: #ffffff;
//       display: flex;
//       flex-direction: column;
//     }

//     .group-2 {
//       margin-top: (50px);
//       display: flex;
//       flex-direction: column;
//       justify-content: space-evenly;
//       width: 80%;
//       margin-right: 10%;
//       margin-left: 10%;
//     }
//     .group-3 {
//       margin-top: (10px);
//       margin-bottom: (20px);
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       padding-left: unset;
//       width: 100%;
//     }
//     .learner-modal-skills {
//       height: (36px);
//       width: (89px);
//       color: #333e44;
//       font-size: (14px);
//       line-height: (18px);
//       text-align: center;
//     }
//     .group-3 ul li:first-child:before {
//       color: #6c7a89;
//       content: attr(data-label);
//       width: 100%;
//       white-space: nowrap;
//     }

//     .presentation-skills,
//     .api-functionality,
//     .error-handling,
//     .project-understanding,
//     .ui-ux {
//       height: unset;
//       width: unset;
//     }

//     .group-2 ul {
//       padding-left: unset;
//     }

//     .group-3 ul {
//       margin: (0px) !important;
//       padding-right: unset !important;
//       text-align: center;
//       width: 100%;
//       padding-left: unset;
//     }
//     .lfa-rating-5,
//     .lfa-rating-4,
//     .lfa-rating-3,
//     .lfa-rating-2,
//     .lfa-rating-1 {
//       margin: (11px) (6px);
//       padding: unset !important;
//       text-align: center !important;
//     }
//   }
// }

// .pitch-persona-card {
//   cursor: pointer;
// }

// i.fa.fa-angle-up {
//   padding-left: 10px;
// }

// .flex-table{
//   flex:7;
//   display: flex;
//   vertical-align: middle;
//   justify-content: space-around;
//   align-content: center;
// }