@import 'base';

#learner-modal-dialog {
  display: none;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  
  overflow: auto;

  #preview-close {
    float: right;
    cursor: pointer;
    min-width: px-to-rem(20px);
    min-height: px-to-rem(20px);
    background: url('close.svg') no-repeat
  }
  .learners-rating-modal-content {
    font-family: DINPro-Light;
    overflow: visible;
    text-align: center;
    border-radius: px-to-rem(8px);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: px-to-rem(20px);
    padding-bottom: px-to-rem(102px);
    pointer-events: auto;
    background-clip: padding-box;
  }

  .learner-performance-header {
    color: #3359db;
    font-size: px-to-rem(20px);
    font-weight: 500;
    line-height: px-to-rem(26px);
    padding: px-to-rem(29px);
  }
  .learner-rectangle {
    box-sizing: border-box;
    height: px-to-rem(97px);
    width: 80%;
    border: px-to-rem(1px) solid rgba(178, 187, 198, 0.31);
    border-radius: px-to-rem(15px);
    background-color: #ffffff;
    box-shadow: 0 px-to-rem(4px) px-to-rem(9px) 0 rgba(0, 0, 0, 0.05);
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .oval img {
    height: px-to-rem(44px);
    width: px-to-rem(44px);
    border-radius: 50%;
  }
  .learner-name {
    height: px-to-rem(21px);
    width: px-to-rem(110px);
    color: #333e44;
    font-size: px-to-rem(16px);
    font-weight: bolder;
    line-height: px-to-rem(21px);
  }
  .learner-details {
    margin-left: px-to-rem(15px);
    text-align: justify;
  }

  .learner-email {
    height: px-to-rem(18px);
    width: px-to-rem(136px);
    color: #333e44;
    font-size: px-to-rem(14px);
    line-height: px-to-rem(18px);
  }
  .view-score-breakdown {
    color: #3359db;
    cursor: pointer;
    font-size: px-to-rem(14px);
    font-weight: 500;
    line-height: px-to-rem(18px);
    text-align: center;
  }
  .fa-angle-down {
    color: #3359db;
    margin-left: px-to-rem(6px);
  }
  .learner-dropdown {
    vertical-align: middle;
    display: flex;
    margin-top: px-to-rem(30px);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
  }
  .line-1 {
    box-sizing: border-box;
    height: 2px;
    margin: px-to-rem(11px) px-to-rem(5px) px-to-rem(5px) px-to-rem(9px);
    width: px-to-rem(196px);
    border: px-to-rem(1px) solid #e7eaed;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .line-2 {
    box-sizing: border-box;
    height: px-to-rem(2px);
    margin: px-to-rem(11px) px-to-rem(1px) px-to-rem(5px) px-to-rem(9px);
    width: px-to-rem(180px);
    border: 1px solid #e7eaed;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .group-2 {
    margin-top: px-to-rem(30px);
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding-left: 30px;
    margin-right: 8%;
    margin-left: 8%;
  }
  .group-3 {
    margin-top: px-to-rem(10px);
    margin-bottom: px-to-rem(20px);
    display: flex;
    width: 100%;
  }
  .ui-ux {
    height: px-to-rem(36px);
    width: px-to-rem(28px);
    padding-left: px-to-rem(40px);
    color: #333e44;
    font-size: px-to-rem(14px);
    line-height: px-to-rem(18px);
  }
  .ui-ui-rating {
    font-weight: bolder;
    padding-top: px-to-rem(20px);
    font-size: px-to-rem(27px);
  }
  div.lfa-modal-dialog {
    display: none;
  }
  .group-2 ul,
  .group-3 ul {
    list-style: none;
  }
  .group-3 ul {
    margin: px-to-rem(0px);
    padding-right: unset !important;
    width: 10%;
    flex:1;
  }

  .lfa-modal-dialog {
    max-width: 100%;
    border-radius: px-to-rem(8px);
    display: flex;
    background-color: #ffffff;
  }
  .group-3-rating {
    padding: unset !important;
  }
  .lfa-modal-dialog-field {
    flex: 10;
  }
  .fa-modal-dialog-field-space {
    flex: 1;
  }
  .group-2-learners-rating, .group-2-learners-score {
    display: flex
  }
}



.pitch-persona-card {
  cursor: pointer;
}

i.fa.fa-angle-up {
  padding-left: 10px;
}

.flex-table{
  flex:7;
  display: flex;
  vertical-align: middle;
  justify-content: space-around;
  align-content: center;
}